Repository PurelyBlank/Senior-Sense-Solutions, pull requests merged in 2025-05, with the labels that each got.

#39 Patient Component Improvements
  project/web/app/(main)/components/patient-component/PatientComponent.css
  project/web/app/(main)/components/patient-component/PatientComponent.tsx
  project/web/backend/server.js
Labels: enhancement, ui, backend

#38 Wearable heart rate, location, and POST request
  project/embedded/src/wearable/heart_rate.cpp
  project/embedded/src/wearable/heart_rate.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, embedded

#42 Add Delete Patient Functionality
  project/web/app/(main)/components/patient-component/PatientComponent.css
  project/web/app/(main)/components/patient-component/PatientComponent.tsx
  project/web/backend/server.js
Labels: enhancement, ui, backend

#44 Location tracker patient component
  project/web/app/(main)/components/patient-component/PatientComponent.css
  project/web/app/(main)/components/patient-component/patient-dropdown-location.tsx
  project/web/app/(main)/components/patient-component/patient-dropdown.css
  project/web/app/(main)/location/location.css
  project/web/app/(main)/location/page.tsx
Labels: enhancement, ui

#46 Wearable_id context api / for data retrieval for heartrate depending on patient selected
  project/web/app/(main)/biometric-monitor/HeartRateChart.tsx
  project/web/app/(main)/components/patient-component/PatientComponent.tsx
  project/web/app/(main)/context/WearableContext.tsx
  project/web/app/(main)/layout.tsx
  project/web/backend/server.js
Labels: enhancement, backend

#50 Data retrieval for battery gauge updates depending on patient selected
  project/web/app/(main)/battery-tracker/batteryGauge.tsx
  project/web/backend/server.js
Labels: enhancement, backend

#48 Caretaker Predictive Analysis Feedback
  project/web/app/(main)/components/patient-component/fall-details-component/fall-details.tsx
  project/web/app/(main)/predictive-analysis/charts.module.css
  project/web/app/(main)/predictive-analysis/fallChart.tsx
  project/web/app/(main)/predictive-analysis/heartRateChart.tsx
  project/web/app/(main)/predictive-analysis/patientActivity.tsx
Labels: enhancement, ui, refactor

#55 added battery level
  project/embedded/src/wearable/BAT_driver.cpp
  project/embedded/src/wearable/BAT_driver.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, embedded

#56 added time
  project/embedded/src/wearable/RTC_PCF85063.cpp
  project/embedded/src/wearable/RTC_PCF85063.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, embedded

#57 Embedded/wearable
  project/embedded/src/wearable/Gyro_QMI8658.cpp
  project/embedded/src/wearable/Gyro_QMI8658.h
  project/embedded/src/wearable/fall_detection.cpp
  project/embedded/src/wearable/fall_detection.h
  project/embedded/src/wearable/heart_rate.cpp
  project/embedded/src/wearable/heart_rate.h
  project/embedded/src/wearable/step_detection.cpp
  project/embedded/src/wearable/step_detection.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, embedded

#58 fix imports
  project/web/app/(main)/battery-tracker/page.tsx
  project/web/app/(main)/biometric-monitor/HeartRateChart.tsx
  project/web/app/(main)/predictive-analysis/page.tsx
Labels: bug

#62 refactored files
  project/embedded/src/wearable/RTC_PCF85063.cpp
  project/embedded/src/wearable/fall_detection.cpp
  project/embedded/src/wearable/fall_detection.h
  project/embedded/src/wearable/step_detection.cpp
  project/embedded/src/wearable/step_detection.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, embedded

#63 refactored files
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, refactor, embedded

#64 Embedded/wearable
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, refactor, embedded

#65 Parsing timestamp that comes from wearable, and put it in correct format
  project/web/backend/server.js
Labels: enhancement, backend, refactor

#53 Homefixes
  project/web/app/(main)/biometric-monitor/NotificationChart.css
  project/web/app/(main)/biometric-monitor/NotificationChart.tsx
  project/web/app/(main)/biometric-monitor/StepCounterChart.css
  project/web/app/(main)/biometric-monitor/page.css
  project/web/app/(main)/layout.css
  project/web/backend/server.js
Labels: enhancement, ui, backend

#66 Fixing
  project/web/app/(main)/biometric-monitor/NotificationChart.css
  project/web/app/(main)/biometric-monitor/StepCounterChart.tsx
  project/web/app/(main)/biometric-monitor/page.css
  project/web/app/(main)/biometric-monitor/page.tsx
  project/web/app/(main)/layout.css
  project/web/app/globals.css
  project/web/backend/server.js
Labels: enhancement, ui, refactor

#67 collapsible side bar arrow moved to the right side to save space
  project/web/app/(main)/layout.css
  project/web/app/(main)/layout.tsx
  project/web/app/(main)/location/location.css
Labels: enhancement, ui, refactor

#68 Battery tracker endpoints round number
  project/web/app/(main)/battery-tracker/batteryGauge.tsx
Labels: ui, refactor

#76 Dynamic steps
  project/web/app/(main)/biometric-monitor/NotificationChart.tsx
  project/web/app/(main)/biometric-monitor/StepCounterChart.css
  project/web/app/(main)/biometric-monitor/StepCounterChart.tsx
  project/web/app/(main)/biometric-monitor/page.css
  project/web/backend/server.js
Labels: enhancement, ui, backend, refactor

#70 Fall chart modifications
  project/web/app/(main)/predictive-analysis/FallDetect.tsx
  project/web/app/(main)/predictive-analysis/FallReport.tsx
  project/web/app/(main)/predictive-analysis/detectFall.tsx
  project/web/app/(main)/predictive-analysis/fallChart.tsx
  project/web/backend/server.js
Labels: enhancement, ui, backend, refactor

#81 Embedded/wearable
  project/embedded/src/wearable/Display_ST77916.cpp
  project/embedded/src/wearable/Display_ST77916.h
  project/embedded/src/wearable/LVGL_Driver.cpp
  project/embedded/src/wearable/LVGL_Driver.h
  project/embedded/src/wearable/LVGL_ui.cpp
  project/embedded/src/wearable/LVGL_ui.h
  project/embedded/src/wearable/RTC_PCF85063.cpp
  project/embedded/src/wearable/RTC_PCF85063.h
  project/embedded/src/wearable/TCA9554PWR.cpp
  project/embedded/src/wearable/TCA9554PWR.h
  project/embedded/src/wearable/Touch_CST816.cpp
  project/embedded/src/wearable/Touch_CST816.h
  project/embedded/src/wearable/esp_lcd_st77916.c
  project/embedded/src/wearable/esp_lcd_st77916.h
  project/embedded/src/wearable/heart_beat.h
  project/embedded/src/wearable/step_detection.cpp
  project/embedded/src/wearable/step_detection.h
  project/embedded/src/wearable/walk.h
  project/embedded/src/wearable/wearable.ino
Labels: enhancement, ui, embedded

#80 fixed the gap with smaller viewport
  project/web/app/(main)/layout.css
  project/web/app/(main)/layout.tsx
Labels: bug, ui, refactor

#82 Upload profile image
  project/web/app/(main)/components/patient-component/PatientComponent.tsx
  project/web/backend/server.js
  project/web/package-lock.json
  project/web/package.json
Labels: enhancement, ui, backend
